* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    background-color: rgb(219, 209, 209);
    padding: 20px;
    width: 40%;
    border-radius: 4px;
    height: auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(53, 49, 49);
}

input {
    display: inline-block;
    width: calc(100% - 40px);
    height: 35px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .125);
    padding-left: 10px;
}

#text::placeholder {
    font-size: 16px;
}

#text:focus {
    outline: none;
}

#btn {
    display: inline-block;
    width: 40px;
    height: 35px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .125);
    background: #007bff;
    color: white;
    position: absolute;
    font-size: 25px;
}

.inputted-text {
    width: 300px;
    margin-top: 5px;
    font-size: 16px;
    background-color: whitesmoke;
    cursor: pointer;
}

#tasklistbox {
    width: 95%;
    margin: auto;
    margin-top: 20px;
}

#deleteall {
    float: right;
    border-radius: 5px;
    background: transparent;
    border: 1px solid #dc3545;
    padding: 5px 5px;
    color: #dc3545;
}

#listheader {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .125);
    background: #F7F7F7;
    padding: 15px 20px 20px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#deleteall:hover {
    background: #dc3545;
    color: white;
    cursor: pointer;
    transition: .3s all;
}

li {
    list-style: none;
    width: 100%;
    padding: 10px 20px 10px 15px;
    background: #F7F7F7;
    border: 1px solid rgba(0, 0, 0, .125);
}

i {
    float: right;
    color: gray;
}

i:hover {
    color: black;
    transition: .3s all;
    cursor: pointer;
}